.wcmca_address_select_menu
{
	display:block;
	 margin-bottom: 15px;
    width: 100%;
	margin bottom: 10px;
}
.wcmca_loader_image
{
	/* margin-top:3px;
	margin-bottom:30px; */
	display:none;
	clear:both;
	width:16px;
	height:16px;
}
#wcmca_form_background_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.9;
	opacity:.90;
	filter: alpha(opacity=90);
}
#wcmca_form_popup_container_shipping,  #wcmca_form_popup_container_billing{
	
	
	 background: #fff none repeat scroll 0 0;
	margin: 40px auto;
	max-width: 700px;
	padding: 20px 30px;
	position: relative;
	text-align: left;
}
/*#wcmca_form_popup_container .woocommerce, #wcmca_form_popup_container .woocommerce #wcmca_address_form, #wcmca_form_popup_container .woocommerce #wcmca_address_form #wcmca_address_form_fieldset
{
	  position: absolute;
	 margin-top: 2%;
	 width: 98%;
	 height: 850px; 
}*/

#wcmca_close_address_form_button_shipping, #wcmca_close_address_form_button_billing
{
	float:right;
	font-weight:bold;
	font-size:16px;
	color:black;
	cursor:pointer;
}

#wcmca_address_form_fieldset_shipping, #wcmca_address_form_fieldset_billing
{
	display:block;
	clear:both;
	margin-bottom:20px;
}
#wcmca_save_address_button_shipping, #wcmca_save_address_button_billing
{
	margin-top:15px;
}
.wcmca_save_address_button_container
{
	display:block;
	clear: both;
}
.wcmca_divider
{
	display:block;
	clear:both;
	height:5px;
	width: 100%;
}
.select.select2-choice {
  width: 100%;
  height: 37px;
}
.wcmca_preloader_image
{
	margin-top:0px;
	margin-bottom:10px;
	display:none;
	width:32px;
	height:32px;
	/* margin-left:auto;
	margin-right:auto; */
}
.wcmca_form_label
{
	display:block;
}
a.button.wcmca_add_new_address_button, button.button.wcmca_add_new_address_button
{
	margin-top:5px;
}
.wcam_input_field
{
	width:98%;
}
label.wcmca_form_inline_input_label, .woocommerce form .form-row label, .woocommerce-page form .form-row label.wcmca_form_inline_input_label
{
	clear:right;
	display:inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
label.wcmca_form_inline_input_label:first-child, .woocommerce form .form-row label, .woocommerce-page form .form-row label.wcmca_form_inline_input_label:first-child
{
	clear:right;
	display:block;
	margin-left: 0px;
}
.wcmca_form_inline_input_label:after, .wcmca_form_label:after, abbr.required
{
	color:red;
}
/* Sizes */
#wcmca_form_popup_container_shipping .wcmca_input_field, #wcmca_form_popup_container_billing .wcmca_input_field {
  box-sizing: border-box;
  width: 100%;
}

#wcmca_form_popup_container_shipping .form-row.form-row.form-row-last, #wcmca_form_popup_container_billing .form-row.form-row.form-row-last {
    clear: right;
    float: left;
    margin-left: 2%;
    width: 47%;
}
#wcmca_form_popup_container_shipping .form-row-first, #wcmca_form_popup_container_billing .form-row-first {
    float: left;
    position: relative;
    width: 50%;
}
#wcmca_country_field_field_shipping, #wcmca_country_field_field_billing {
  clear: both;
  display: block;
}
#wcmca_address_select_menu_billing, #wcmca_address_select_menu_shipping {
width: 100%;
}
