.wcmca_additional_addresses_list_title
{
	margin-top: 50px;
}

.required {
  color: red;
}

.wcmcam_address_block_title h3
{
	margin-top: 20px;
}
#wcmca_add_new_address_button_billing {
   /*  float: left;
    margin-right: 10px; */
}
#wcmca_add_new_address_button_shipping
{
	/* float: left; */
}
#wcmca_form_background_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.9;
	opacity:.90;
	filter: alpha(opacity=90);
}
#wcmca_form_popup_container_shipping, #wcmca_form_popup_container_billing
{
	
	 background: #fff none repeat scroll 0 0;
		margin: 40px auto;
		max-width: 700px;
		padding: 20px 30px;
		position: relative;
		text-align: left;
}
 /*#wcmca_form_popup_container .woocommerce, #wcmca_form_popup_container .woocommerce #wcmca_address_form, #wcmca_form_popup_container .woocommerce #wcmca_address_form #wcmca_address_form_fieldset
	{
		 position: absolute;
		 margin-top: 2%;
		 width: 98%;
		 height: 850px;
	} */
#wcmca_close_address_form_button_shipping, #wcmca_close_address_form_button_billing
{
	float:right;
	font-weight:bold;
	font-size:16px;
	color:black;
	cursor:pointer;
}
#wcmca_address_form_fieldset_shipping, #wcmca_address_form_fieldset_billing
{
	display:block;
	clear:both;
	margin-bottom:20px;
}
#wcmca_save_address_button_shipping, #wcmca_save_address_button_billing
{
	margin-top:15px;
}
.wcmca_save_address_button_container
{
	display:block;
	clear: both;
}
.wcmca_preloader_image
{
	display: none;
    float: left;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 25px;
    width: 32px;
}
.select.select2-choice {
  width: 100%;
  height: 37px;
}
.wcmca_saving_loader_image
{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	display:none;
	clear:both;
	width:32px;
	height:32px;
	/* margin-left:auto;
	margin-right:auto; */
}
.woocommerce-account .addresses .title h3.wcmca_address_title, h3.wcmca_address_title
{
  clear: both;
  display: block;
  float: none;
  margin-bottom: 2px;
}
.wcmcam_address_block_title
{
   margin-bottom:20px;
}
.wcmca_edit_address_button, .wcmca_delete_address_button
{
   /* float:right; */
   display: inline-block;
   float: left;
}
.wcmca_divider
{
	display:block;
	clear:both;
	height:5px;
	width: 100%;
}
.class_action_sparator
{
	/* float:right;
	margin-right: 5px;
	margin-left: 5px; */
	 display: inline-block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
.wcmca_clear_right
{
	 clear: right;
	display: block;
}
.wcmca_hidden
{
	display:none;
}
label.wcmca_form_inline_input_label, .woocommerce form .form-row label, .woocommerce-page form .form-row label.wcmca_form_inline_input_label
{
	clear:right;
	display:inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
label.wcmca_form_inline_input_label:first-child, .woocommerce form .form-row label, .woocommerce-page form .form-row label.wcmca_form_inline_input_label:first-child
{
	clear:right;
	display:block;
	margin-left: 0px;
}
.wcam_input_field
{
	width:98%;
}

h5.wcmca_personal_data_title
{
	margin-bottom:2px;
	margin-top:10px;
	font-style: italic;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
  float: left;
  width: 48%;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  float: right;
  width: 48%;
}
#wcmca_add_new_address_button_shipping_shipping, #wcmca_add_new_address_button_shipping_billing
{
	display:inline-block;
	clear:both;
	margin-bottom: 25px;
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text, #wcmca_country_field_shipping, #wcmca_country_field_billing
{
 height:37px;
}

/* Sizes */
#wcmca_form_popup_container_shipping .wcmca_input_field, #wcmca_form_popup_container_billing .wcmca_input_field {
  box-sizing: border-box;
  width: 100%;
}

#wcmca_form_popup_container_shipping.form-row.form-row.form-row-last, #wcmca_form_popup_container_billing.form-row.form-row.form-row-last {
    clear: right;
    float: left;
    margin-left: 2%;
    width: 47%;
}
#wcmca_form_popup_container_shipping .form-row-first, #wcmca_form_popup_container_billing .form-row-first {
    float: left;
    position: relative;
    width: 50%;
}
#wcmca_country_field_field_shipping, #wcmca_country_field_field_billing {
  clear: both;
  display: block;
}