/*
Theme Name:   	JOZ Webshop
Author:       	Code & Koffie
Author URI:     https://code-en-koffie.nl
Template:     	storefront
Description:  	JOZ thema gebaseerd op Storefront
Version:      	1.0.0
*/

/*HEADER*/
.woa-top-bar-2 {
    text-align: right;
}
.main-navigation ul li a {
    color: #009238;
}

a:focus {
    outline: 0;
}

.site-branding {
    margin-bottom: 0;
}

#site-navigation {
    padding-top: 0;
}

.site-header-cart {
    padding-top: 0 !important;
}

a.cart-contents, .site-header-cart .widget_shopping_cart a {
    color: #9aa0a7;
}

.site-header {
    padding-top: 30px !important;
    margin-bottom: 1.2em !important;
}

.site-search .widget_product_search form:before {
    display: none;
}

.site-header ul.menu li.current-menu-item > a {
    color: #21428c;
}

.main-navigation ul li a:hover {
    color: #21428c;
}

/*PRODUCT*/
.stock.out-of-stock:before {
    content: none !important;
}

/*CART*/
a.cart-contents {
    color: #2d4884 !important;
}

.stock.in-stock:before {
    content: "" !important;
}

.single_add_to_cart_button {
    background-color: #2d4884 !important;
}

/*FOOTER*/
.site-footer {
    background-color: #ffffff;
}
.site-info {
    display: none;
}


#text-3 {
    margin: 0 0 1.631em;    
}

#text-4 {
    margin: 0 0 1.631em;   
    float: right;
}

.site-footer {
    padding: 0;
}

footer {
    padding: 0;
    color: #fff;
    font-weight: normal;
    font-family: "din_light", sans-serif;
    border-top: none;
    background: url('/wp-content/uploads/2016/08/joz-footerbg.png') no-repeat bottom center;
    font-size: 10px;
}

.site-footer .storefront-handheld-footer-bar a:not(.button),
button.menu-toggle,
button.menu-toggle:hover {
    color: #009238 !important;
}

.storefront-handheld-footer-bar ul li.cart .count {
    background-color: #21428c !important;
}

#green hover border
ul.products li.product-category img:hover, ul.products li.product img:hover {
    border: 3px solid #009239;
}

.woocommerce-ordering {
    display: none;
}

.current-cat a {
    color: #009238 !important;
    font-weight: bold !important;
}

/* fix width multiple addresse form, second column */
#wcmca_form_popup_container_shipping .form-row-first {
    width: 45% !important;
}

/* Search lite style */
@media (min-width: 768px) {
    .woocommerce-active .site-header .site-search {
        width: 40%;
    }

    #ajaxsearchlite1 .probox,
    div[id*="ajaxsearchlite"] .probox {
        margin: 0px;
        height: 40px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #3e3e3e;
    }

    #ajaxsearchlite1 .probox .proinput input,
    div[id*="ajaxsearchlite"] .probox .proinput input {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
    }
    div[id*="ajaxsearchlite"] .probox .proloading,
    div[id*="ajaxsearchlite"] .probox .proclose,
    div[id*="ajaxsearchlite"] .probox .promagnifier,
    div[id*="ajaxsearchlite"] .probox .prosettings {
        height: 30px;
        width: 30px;
        margin: 5px;
    }
}

/* Large fixes */
@media (min-width: 768px) {
    .addresses header.title a {
        float: none;
        text-indent: 0;
        display: inline-block;
        width: auto;
    }

    .addresses header.title a:before {
        position: static;
        width: auto;
        margin-right: 10px;
    }

    .addresses header.title a.wcmca_delete_address_button:before {
        content: '';
    }

    .addresses header.title .class_action_sparator {
        float: none;
    }
}

/* Mobile fixes */
@media (max-width: 768px) {
    div.zopim {
        display: none !important;
        bottom: 60px !important;
        right: 10px !important;
    }

    div#ajaxsearchliteres2 {
        top: auto !important;
        padding-bottom: 150px !important;
        bottom: -30px !important;
        position: fixed;
    }

    body {
        margin-bottom: 65px;
    }
}

/* Login page */
html,
body.page-template-template-login {
    height: 100%;
}

/* Width column and alignment of columns */
@media(min-width: 768px)
{
    .page-template-template-login .content-area {
        width: 100%;
    }

    .page-template-template-login .woocommerce-MyAccount-navigation {
        float: left !important;
    }

    .page-template-template-login .woocommerce-MyAccount-content {
        float: right !important;
        margin-left: 5% !important;
        margin-right: 0 !important;
    }

    .col2-set.addresses .col-1 {
        margin-right: 4%;
    }
}

div#page.login-page {
    background: url(/wp-content/themes/joz/assets/images/bg-small.jpg) no-repeat center bottom fixed;
    background-size: cover;
    height: 100%;
}

div#page.login-page div.content-area {
    width: 50%;
    float: none;
    margin: 10% auto 0;
    background-color: white;
    padding: 1%;
    position: relative;
}

div#page.login-page div.content-area h1 {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(/wp-content/uploads/JOZ-logo-webshop.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 140px;
}

div#page.login-page div.content-area div.entry-content div.woocommerce-MyAccount-content {
    display: none;
}

div#page.login-page div.content-area div.entry-content > p {
    display: none;
}

div#page.login-page div.content-area h2 {
    display: none;
}

div#page.login-page div.content-area p.lost_password {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #009238;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

div#page.login-page div.content-area p.lost_password a {
    display: block;
    line-height: 60px;
    color: white;
    text-align: center;
}

div#page.login-page div.content-area .form-row {
    width: 100%;
    text-align: center;
}

div#page.login-page div.content-area .form-row label {
    text-align: left;
}
div#page.login-page .site-footer {
    background-color: transparent;
}

@media (max-width: 768px) {
    div#page.login-page div.content-area {
       width: 100%;
       padding: 3%;
    }
}

div#login_language_list {
}

div#login_language_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

div#login_language_list ul li {
    display: inline-block;
    background-color: white;
    padding: 0 5px;
}

div#login_language_list ul li img,
div#login_language_list ul li span {
    display: inline-block;
    line-height: 30px;
}

div#login_language_list ul li img {
    margin-right: 10px;
}

@media (max-width: 768px) {
    div#login_language_list ul {
        margin: 0 -20px;
        text-align: center;
    }
}


#billing_address_1_field, #shipping_address_1_field {
    display: inline-block;
    width: 73%;
}
#billing_address_2_field, .col-2 #shipping_address_2_field {
    display: inline-block;
    width: 20%;
    float: right;
    margin-top: 25px
}

#shipping_address_2_field {
    display: inline-block;
    width: 20%;
    float: right;
}