/*WP ADMIN STYLE*/
body.login {
    background: url(https://webshop.joz.nl/wp-content/uploads/bg-small.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login h1 a {
    background-image: url(https://webshop.joz.nl/wp-content/uploads/JOZ-logo-webshop.png) !important;
    background-size: 250px 120px;
    display: inline-block !important;
    margin: 0 auto !important;
    width: 250px !important;
    height: 120px !important;
    padding-bottom: 10px !important;
}

#nav {
    margin: 0 !important;
    padding: 20px 25px !important;
    background: #009238;
    border-radius: 0 0 3px 3px;
    color: #fff;
}

#login #nav a {
    color: #fff !important;
    text-shadow: none;
    display: inline-block !important;
}

#backtoblog {
    display: none;
}

#loginform,
.login form {
    position: relative !important;
    margin: 0 !important;
    box-shadow: none;
    border: none;
    background: #f3f3f3 !important;
    border-radius: 0 0 0 0;
}

#loginform input[type="text"], #loginform input[type="password"] {
    background-color: #F6F6F6;
    border-color: #A4A4A4 #B9B9B9 #B9B9B9;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.17) inset;
    color: #666666;
    cursor: pointer;
    font: 12px helvetica;
    margin: 0 0 10px;
    padding: 12px 8px 12px 32px;
}

#loginform input[type="text"]:focus, #loginform input[type="password"]:focus {
    background-color: #ffffff;
}

#loginform input[type="text"] {
    background-image: url(https://webshop.joz.nl/wp-content/uploads/login_icon_user.png);
    background-repeat: no-repeat;
    background-position: 5px center;
}

#loginform input[type="password"] {
    background-image: url(https://webshop.joz.nl/wp-content/uploads/login_icon_password.png);
    background-repeat: no-repeat;
    background-position: 7px center;
}

.login form .button,
#loginform input[type="submit"] {
    position: absolute;
    right: 25px;
    padding: 6px 15px 8px 15px !important;
    display: inline-block;
    background-repeat: repeat-x;
    font: bold 12px Helvetica;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(000, 000, 000, 0.2);
    box-shadow:  0px 1px 2px 0px rgba(000, 000, 000, 0.2);
    background-color: #6fcedc;
    border: 1px solid #147d8c;
    text-shadow: 0 1px 0px #666;
    line-height: normal !important;
}

.login form .button:hover,
#loginform input[type="submit"]:hover {
    background-color: #3cadbe; border: 1px solid #306f79;
}

#loginform label {
    color: #4A4A4A;
    font-weight: bold;
    text-shadow: 1px 1px 0px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.login #nav a {
    color: #686868 !important;
    font-weight: bold;
    text-decoration: none;
}

.login #nav a:hover {
    color: #4a4a4a !important;
    font-weight: bold;
    text-decoration: none;
}

#backtoblog {
    margin: 20px 0 0 10px !important;
    padding: 0 !important;
    float: left;
}

.login #backtoblog a {
    color: #686868 !important;
    font-weight: bold;
    text-decoration: none;
}

.login #backtoblog a:hover {
    color: #4a4a4a !important;
    font-weight: bold;
    text-decoration: none;
}

h1 { padding: 20px 0 0 0 !important; border-radius: 3px 3px 0 0 !important; background: #f3f3f3 !important; display:block !important; margin: 100px auto 0 auto !important; text-align: center !important; }

body h1 a { display: inline-block !important; margin: 0 auto !important; width: 210px !important; height: 82 !important; }