<div class="wrap">
    <div id="dashboard-widgets-wrap">
        <div id="dashboard-widgets" class="metabox-holder">
            <div id="postbox-container-1" class="postbox-container">
                <div id="column1-sortables" class="meta-box-sortables ui-sortable">
                    <div id="joz-import-stats" class="postbox">
                        <button type="button" class="handlediv button-link" aria-expanded="true">
                            <span class="screen-reader-text">Toggle panel: Statistieken</span>
                            <span class="toggle-indicator" aria-hidden="true"></span>
                        </button>
                        <h2 class="hndle ui-sortable-handle"><span>Statistieken</span></h2>
                        <div class="inside">
                            <div class="main">
                                <ul>
                                    <li><strong>Laatste automatische import: </strong>{{ last_auto }}</li>
                                    <li><strong>Laatste handmatige import: </strong>{{ last_manual }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="postbox-container-2" class="postbox-container">
                <div id="column2-sortables" class="meta-box-sortables ui-sortable">
                    <div id="joz-import-button" class="postbox">
                        <button type="button" class="handlediv button-link" aria-expanded="true">
                            <span class="screen-reader-text">Toggle panel: Start import</span>
                            <span class="toggle-indicator" aria-hidden="true"></span>
                        </button>
                        <h2 class="hndle ui-sortable-handle"><span>Start import</span></h2>
                        <div class="inside">
                            <div class="main">
                                <a class="button button-primary button-hero load-customize hide-if-no-customize" href="?page=jozimport&amp;action=import">Start import</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="postbox-container-3" class="postbox-container">
                <div id="column3-sortables" class="meta-box-sortables ui-sortable">
                    <div id="joz-logs-button" class="postbox">
                        <button type="button" class="handlediv button-link" aria-expanded="true">
                            <span class="screen-reader-text">Toggle panel: Bekijk logs</span>
                            <span class="toggle-indicator" aria-hidden="true"></span>
                        </button>
                        <h2 class="hndle ui-sortable-handle"><span>Bekijk logs</span></h2>
                        <div class="inside">
                            <div class="main">
                                <a class="button button-primary button-hero load-customize hide-if-no-customize" href="?page=jozimport&amp;action=logs">Bekijk logs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>