<table class="wp-list-table widefat fixed striped posts">
    <thead>
    <tr>
        <th>#</th>
        <th>Type</th>
        <th>Time</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% for key, log in log.entries %}
    <tr>
        <td>{{log.id}}</td>
        <td>{{log.type}}</td>
        <td>{{log.created_at}}</td>
        <td>{{log.message}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>