<table class="wp-list-table widefat fixed striped posts">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Errors</th>
        </tr>
    </thead>
    <tbody>
    {% for key, log in logs %}
        <tr>
            <td>{{key}}</td>
            <td><strong><a href="?page=jozimport&action=log&log_id={{key}}" class="row-title">{{log.name}}</a></strong></td>
            <td>{{log.start}}</td>
            <td>{{log.end}}</td>
            <td>{{log.run}}</td>
            <td>{{log.errors}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>