/*================Responsive Menu==============-*/
.mean-container .mean-bar{float:left; width:100%;}
.mean-container a.meanmenu-reveal{width:24px;  cursor:pointer; color:#146ab3; text-decoration:none; font-size:16px; text-indent:-9999em; line-height:22px; font-size:1px; display: block; float:right; margin-top:13px; z-index: 9999; position:relative;}
.mean-container a.meanmenu-reveal.meanclose{width:19px; height:19px; font-size:1px !important; background:url(../images/menu.png) no-repeat center;}
.mean-container a.meanmenu-reveal span{display:block; background:#146ab3; height:3px; margin-top:4px;}
.mean-container .mean-nav{float:left; width:100%; position:absolute; right:-20px; z-index:999; top:50px; background:#fff;  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);}
.mean-container .mean-nav ul{padding:0; margin:0; width:100%; list-style-type:none; padding:0 0 20px 0;}
.mean-container .mean-nav ul li{position:relative; float:left; width:100%; text-align:right; padding:6px 0;}
.mean-container .mean-nav ul li li{}
/* .mean-container .mean-nav ul li:hover > a, */ 
.mean-container .mean-nav ul li a{text-align:left; color:#333; text-decoration:none; font-size:14px; margin:0 80px 0 10px; float:right; font-size:16px;}
.mean-container .mean-nav ul li li a{visibility:visible;}
.mean-container .mean-nav ul li.active{background:#f2f2f2;}
.mean-container .mean-nav ul li.current-menu-item > a:first-of-type,
.mean-container .mean-nav ul li.current-menu-ancestor > a:first-of-type 
{color:#146ab3; font-weight:bold;}
.mean-container .mean-nav ul .sub-menu{background:#f2f2f2; float:left; width:100%; padding:0; margin:6px 0 -6px 0;}
.mean-container .mean-nav ul .sub-menu li.current-menu-item {background:#146ab3;}
.mean-container .mean-nav ul .sub-menu li.current-menu-item  a{ color:#fff;}
.mean-container .mean-nav ul li.mean-last a{border-bottom:none; margin-bottom:0;}
.mean-container .mean-nav ul li li li a{width:80%;	padding:0 10%; line-height:35px;}
.mean-container .mean-nav ul li a.mean-expand{
    color: #333 !important;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 1px;
    width: 36px;
    z-index: 2;
	font-weight:500;
	height: 37px;
    line-height: 38px;
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.mean-container .mean-push{float:left; width:100%; padding:0; margin:0; clear:both;}
.mean-nav .wrapper{width:100%; padding:0; margin:0;}
.mobile-nav-w ul#menu-main-menu > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
@media (max-width : 767px){
	.mean-container .mean-nav ul li a.mean-expand{
		right:5px;
	}
}