// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// Import breakpoint for Sass
@import "breakpoint";

// Import breakpoint for Sass
@import "navigation";

//custom variables
$roboto : 'Roboto', sans-serif;
$common-font : 400 16px/26px  $roboto;
$common-font-24 : 400 16px/24px  $roboto;
$common-font-28 : 400 16px/28px  $roboto;
$font-14 : 400 14px/24px $roboto;

$gray : #333;
$gray-f2 : #f2f2f2;
$blue : #013e7f;
$orange : #ee2d24;
$red: #ee2d24;
$white : #fff;

// Mixins
@mixin full-width() {
	width:100%;
	float:left;
	position:relative;
}
@mixin blue-grad() {
	background: -moz-linear-gradient(top, rgba(20,106,179,1) 0%, rgba(18,94,159,1) 100%);
	background: -webkit-linear-gradient(top, rgba(20,106,179,1) 0%,rgba(18,94,159,1) 100%);
	background: linear-gradient(to bottom, rgba(20,106,179,1) 0%,rgba(18,94,159,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#146ab3', endColorstr='#125e9f',GradientType=0 );
}
@mixin blue-hover() {
	background: rgb(20,105,177);
	background: -moz-linear-gradient(top, rgba(20,105,177,1) 0%, rgba(14,74,125,1) 100%);
	background: -webkit-linear-gradient(top, rgba(20,105,177,1) 0%,rgba(14,74,125,1) 100%);
	background: linear-gradient(to bottom, rgba(20,105,177,1) 0%,rgba(14,74,125,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1469b1', endColorstr='#0e4a7d',GradientType=0 );
}
@mixin blue-active() {
	background: rgb(20,104,175);
	background: -moz-linear-gradient(top, rgba(20,104,175,1) 0%, rgba(15,80,136,1) 100%);
	background: -webkit-linear-gradient(top, rgba(20,104,175,1) 0%,rgba(15,80,136,1) 100%); 
	background: linear-gradient(to bottom, rgba(20,104,175,1) 0%,rgba(15,80,136,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1468af', endColorstr='#0f5088',GradientType=0 );
}
@mixin orange-grad() {
	background: -moz-linear-gradient(top, rgba(238,48,38,1) 0%, rgba(205,39,31,1) 100%);
	background: -webkit-linear-gradient(top, rgba(238,48,38,1) 0%,rgba(205,39,31,1) 100%);
	background: linear-gradient(to bottom, rgba(238,48,38,1) 0%,rgba(205,39,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3026', endColorstr='#cd271f',GradientType=0 );
}
@mixin orange-hover() {
	background: -moz-linear-gradient(top, rgba(241,53,43,1) 0%, rgba(164,31,25,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(241,53,43,1) 0%,rgba(164,31,25,1) 100%);
	background: linear-gradient(to bottom, rgba(241,53,43,1) 0%,rgba(164,31,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1352b', endColorstr='#a41f19',GradientType=0 );
}
@mixin orange-active() {
	background: -moz-linear-gradient(top, rgba(241,53,43,1) 0%, rgba(164,31,25,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(241,53,43,1) 0%,rgba(164,31,25,1) 100%);
	background: linear-gradient(to bottom, rgba(241,53,43,1) 0%,rgba(164,31,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1352b', endColorstr='#a41f19',GradientType=0 );
}
@mixin gray-grad() {
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
}
@mixin gray-hover() {
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(219,219,219,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(219,219,219,1) 100%); 
	background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(219,219,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dbdbdb',GradientType=0 );
}
@mixin gray-active() {
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(219,219,219,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(219,219,219,1) 100%); 
	background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(219,219,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dbdbdb',GradientType=0 );
}
@mixin font-26-blue(){
	font:400 26px/36px $roboto;
	color:$blue;
	@include breakpoint($width-991) {
		font:20px/30px $roboto;			
	}
}
@mixin display-block(){
	display:block;
	width:100%;
	float:left;
	margin:0;
	padding:0;
}

// media query
$width-1200: max-width 1200px;
$width-1050: max-width 1050px;
$width-991: max-width 991px;
$width-767: max-width 767px;
$width-479: max-width 479px;

// Common Css
*{outline:none !important;}
a{color: $blue;}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="number"]{
	width:100%;
	float:left;
	height:40px;
	color:#9f9f9f;
	font-size:14px;
	padding:0 10px;
	border:1px solid #9f9f9f;
	-webkit-appearance:none;
	   -moz-appearance:none;
		-ms-appearance:none;
		 -o-appearance:none;
	&:focus{
		color:#7e7e7e;
	}
	.contact-page-form & {
		background:none;
		border-color:#fff !important;
		color:#fff;
		font-style:italic;
		&::-webkit-input-placeholder {
		   color:#fff;
		}
		&:-moz-placeholder { /* Firefox 18- */
		   color:#fff;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		   color:#fff;
		}
		&:-ms-input-placeholder {  
		   color:#fff;
		}
		&:focus{
			color:#fff;
		}
	}
	.wpcf7-form &{
		&:focus{
			border-color:#176ab0;
			box-shadow: 0 0 2px rgba(23, 106, 76, 0.5);
		}
		&.wpcf7-not-valid{
			border-color:#fe2323;
			box-shadow: 0 0 2px rgba(254, 35, 35, 0.5);
			background:url(../images/input-error.jpg) no-repeat 98% center;
		}
	}
}
textarea{
	@include display-block;
	padding: 6px 10px;
	resize:none;
	-webkit-appearance:none;
	   -moz-appearance:none;
		-ms-appearance:none;
		 -o-appearance:none;
	.contact-page-form & {
		height:80px;
		background:none;
		color:#fff;
		border:1px solid #fff;
		font-style:italic;
		&::-webkit-input-placeholder {
		   color:#fff;
		}
		&:-moz-placeholder { /* Firefox 18- */
		   color:#fff;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		   color:#fff;
		}
		&:-ms-input-placeholder {  
		   color:#fff;
		}
		&:focus{
			color:#fff;
		}
	}
}

body{
	color: #333;
	font: $common-font;
	line-height:normal;
	@include breakpoint($width-991) {
		font: 14px/24px $roboto;
	}
}
.container{
	max-width:980px;
	width:100%;
	@include breakpoint($width-991) {
		max-width:750px;
	}
	@include breakpoint($width-767) {
		max-width:470px;
	}
}
.full-width{
	width:100%;
	float:left;
	position:relative;
}
h5{
	font:$common-font;
}
time, .time{
	@include full-width;
	display:block;
	color:#7e7e7e;
	font-size:12px;
}
// contact form 7
.wpcf7-form{
	text-align:center;
	.wpcf7-form-control-wrap{
		@include full-width;
	}
	.wpcf7-not-valid-tip{
		bottom: -18px;
		color: #f00;
		font-size: 12px;
		left: 0;
		position: absolute;
		width: 100%;
		text-align:left;
	}
	.wpcf7-response-output {
		border-width:1px;
		padding:5px 30px;
		text-align:center;
		font-size:14px;
		line-height:20px;
		margin:15px 0;
		display:none;
		&.wpcf7-validation-errors{
			display:inline-block;
			background-color:#f2dada;
			border-color:#fe2323;
			color:#fe2323;
		}
		&.wpcf7-mail-sent-ng{
			background-color:#ffffd3;
			color:#f6851f;
			border-color:#f6851f;
			display:inline-block;
		}
		&.wpcf7-mail-sent-ok{
			background-color:#e9ffe6;
			border-color:#a9c9a4;
			color:#4c9d40;
		    display:inline-block;
		}
	}
	.ajax-loader{
		display:none !important;
	}
}
.owl-controls{
	width:100%;
	.owl-prev, .owl-next{
		width:60px;
		height:100px;
		text-indent:-9999px;
		color:rgba(0,0,0,0);
		background:no-repeat center center;
		position:absolute;
		top:50%;
		margin-top:-50px;
		&:hover, &:active{
			background-color:#f8f8f8;
		}
	}
	.owl-prev{
		left:-95px;
		background-image:url(../images/prev.png);
	}
	.owl-next{
		right:-95px;
		background-image:url(../images/next.png);
	}
}

// button
.blue-button{
	display:inline-block;
	text-transform:uppercase;
	color:$blue;
	font-weight: bold;
	font-size:16px;
	padding: 8px 20px;
	border-radius:2px;
	text-decoration:none;
	border:2px solid $blue;
	&:hover{
		text-decoration:none;
		color:#fff;
		box-shadow:none;
		border:2px solid transparent;
		background:$blue;
	}
	&.active, &:active, &:focus{
		text-decoration:none;
		color:#fff;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25) inset;
		border:2px solid transparent;
		background:$blue;
	}
	@include breakpoint($width-991) {
		font-size:14px;
		line-height:20px;
	}
}
.orange-button{
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	font-weight: bold;
	font-size:16px;
	padding: 8px 20px;
	border-radius:2px;
	text-decoration:none;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
	text-shadow:0 2px 1px rgba(0, 0, 0, 0.2);
	border:1px solid #cf271f;
	@include orange-grad;
	&:hover{
		text-decoration:none;
		color:#fff;
		box-shadow:none;
		@include orange-hover;
	}
	&.active, &:active, &:focus{
		text-decoration:none;
		color:#fff;
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25) inset;
		@include orange-active;
	}
	@include breakpoint($width-991) {
		font-size:14px;
		line-height:20px;
	}
}
.gray-button{
	display:inline-block;
	color:$blue;
	font-size:16px;
	padding: 8px 20px;
	border-radius:2px;
	text-decoration:none;
	box-shadow: 1px 1px 0 #cfcfcf;
	@include gray-grad;
	&:hover{
		color:$blue;
		@include gray-hover;
	}
	&.active, &:active, &:focus{
		color:$blue;
		box-shadow: 0 2px 2px #cfcfcf inset;
		@include gray-active;
	}
	@include breakpoint($width-991) {
		font-size:14px;
		line-height:20px;
	}
}

// section setting
.common-section{
	@include full-width;
	padding: 45px 0;
	p{
		line-height:26px;
		@include breakpoint($width-991) {
			line-height:24px;
		}
	}
	@include breakpoint($width-991) {
		padding: 40px 0;
	}
	@include breakpoint($width-767) {
		padding: 30px 0;
	}
}
.background-gray{
	background-color: $gray-f2;
}
.background-blue{
	background-color: $blue;
}
.section-heading{
	@include full-width;
	color: $blue;
	font-weight:bold;
	font-size:32px;
	@extend .text-center;
	margin:0 0 42px 0;
	@include breakpoint($width-991) {
		font-size: 26px;
		margin: 0 0 20px;
	}
	@include breakpoint($width-767) {
		font: bold 22px/normal $roboto;
	}
}
.custom-list{
	display:block;
	float:left;
	margin:0;
	padding:0;
	li{
		display:block;
		float:left;
		width:100%;
		font: 400 16px/normal roboto;
		color:$blue;
		background:url(../images/li.png) no-repeat left 6px;
		padding: 0 0 9px 29px;
		@include breakpoint($width-767) {
			font:14px/normal $roboto;
		}
	}
	.slide-content-outer &{
		padding: 15px 5px 0 25px;
		li{
			font:bold 14px/normal $roboto;
			color:$gray;
		}
	}
}
// header
.main-header{
	@include full-width;
	background:#fff;
	padding:17px 0;
	@include breakpoint($width-991) {
		padding:15px 0;
	}
	@include breakpoint($width-767) {
		padding:5px 0 12px 0;
	}
	.language-contact{
		margin:17px 0 0 0;
		@include breakpoint($width-767) {
			margin:0 0 5px;
		}
		a{
			display:inline-block;
			margin:0 0 0 6px;
			@include breakpoint($width-991) {
				margin:0 6px 0 0;
				&:last-of-type{
					margin:0;
				}
			}
		}
	}
}
.logo-side{
	.logo{
		@include breakpoint($width-479) {
			float: left;
			max-width: 110px;
		}
	}
	h1{
		font: $common-font-24;
		font-size: 20px;
		float:left;
		padding:8px 0 0 32px;
		margin:0;
		color:$blue;
		text-transform: uppercase;
		font-weight: bold;
		@include breakpoint($width-991) {
			padding: 12px 0 0 15px;
		}
		@include breakpoint($width-767) {
			font:14px/normal $roboto;
			padding: 15px 0 0 20px;
			width: auto;
		}
		@include breakpoint($width-479) {
			padding-top: 0;
		}
	}
}

// top navigation
.top-nav{
	@include full-width;
	background-color:#fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	z-index:9;
	.nav_w{
		float:left;
		width:910px;
		ul{
			list-style:none;
			margin:0;
			padding:0;
			display:table;
			width:100%;
			li{
				@extend .text-center;
				margin:0;
				display:table-cell;
				table-layout: fixed;
				width: 2%;
				border-left:1px solid #d2d2d2;
				position:relative;
				font-size:14px;
				vertical-align:middle;
				&.current-menu-item, &.current-menu-ancestor{
					color:$white !important;	
					background-color:$red;	
					> a{
						color:$white !important;	
						background-color:$red;	
					}
				}
				a{
					color:$gray;
					text-decoration:none;
					padding:15px 3px;
					cursor:pointer;
					display:block;
					float:left;
					width:100%;
					text-align:center;
					&:hover{
						color:$red;
					}
				}
				.sub-menu{
					position:absolute;
					top:48px;
					left:-1px;
					margin-top:-1px;
					display:none;
					li{
						max-height:40px;
						overflow:hidden;
						&:last-of-type{
							border-right: 1px solid #d2d2d2;
						}
						&:hover, &.current-menu-item{	
							background-color:$red;	
							a{
								color:$white;
							}
						}
						a{
							padding:11px 10px;
							white-space: pre;
							display:block;
							float:left;
							width:100%;
							text-align:center;
						}
					}
				}
			}
		}
	}
	.top-search{
		display: table-cell;
		border-left: 1px solid #d2d2d2;
		border-right: 1px solid #d2d2d2;
		width: 50px;
		padding: 0 12px;
		position:relative;
		text-align:center;
		vertical-align: middle;
		img{
			cursor:pointer;
			position:relative;
			z-index:999;
		}
	}
	.search-box{
		display:none;
		position:absolute;
		right:0;
		top:58px;
		background-color:#fff;
		padding:5px;
		border-radius:5px;
		width:280px;
		&:after{
			border-bottom: 5px solid #fff;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			content: "";
			height: 0;
			position: absolute;
			right: 22px;
			top: -5px;
			width: 0;
			z-index: 9;
		}
		label{
			margin:0;
			width:100%; 
			float:left;
			&:after{
				content:'';
				background: url(../images/search.png) no-repeat center;
				height: 19px;
				position: absolute;
				right: 17px;
				top: 16px;
				width: 16px;
				z-index: 9;
				pointer-events: none;
			}
		}
		.screen-reader-text{
			display:none;
		}
		.search-field{
			-webkit-appearance:none;
			   -moz-appearance:none;
			height:40px;
			width:100%;
			border:0;
			width:100%;
			float:left;
			padding:0 48px 0 12px;
			font:$font-14;
			color:#7e7e7e;
		}
		.search-submit {
			display:block;
			position:absolute;
			width:40px;
			height:40px;
			right:5px;
			top:5px;
			padding:0;
			color:rgba(0,0,0,0);
			border-radius:3px;
			border:1px solid #cf271f;
			@include orange-grad;
			&:hover{
				box-shadow:none;
				@include orange-hover;
			}
			&:active, &:focus{
				box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25) inset;
				@include orange-active;
			}
		}
	}
}
.sub-nav-wrap{
	background-color:$gray-f2;
	height:39px;
	display:none;
	@include breakpoint($width-991) {
		display:none !important;
	}
}
// mobile nav
.mobile-nav-w{
	min-height:50px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	.mobile-menu {
		float:right;
		width:255px;
		position:relative;
		@include breakpoint($width-767) {
			width: 35%;
			padding-right: 5px;
			position:static;
		}
		.mean-nav{
			@include breakpoint($width-991) {
				li.current_page_ancestor{
					background: #f2f2f2;
					> a{
						color: #146ab3;
						font-weight: bold;
					}
					.sub-menu{
						li.current-menu-item,{
							background:$blue;
							a{
								color:#fff;
								font-weight:normal;
							}
						}
					}
				}
			}
			@include breakpoint($width-767) {
				right:0;
				top:5px;
				ul li{
					text-align:center;
					a{
						margin:0;
						font-size:16px;
						float:none;
					}

				}
			}
		}
	}
	.search-box{
		width:192px;
		float:left;
		position:relative;
		margin-top: 12px;
		@include breakpoint($width-767) {
			width: 58%;
		}
		.screen-reader-text{
			display:none;
		}
		label{
			margin:0;
			width:100%;
		}
		.search-field{
			border:0;
			border-bottom:1px solid #bebebe;
			width:100%;
			float:left;
			font-size:14px;
			color:#7e7e7e;
			font-weight:normal;
			height:28px;
			border-radius:0;
			-webkit-appearance:none;
			   -moz-appearance:none;
		}
		.search-submit{
			position:absolute;
			right:4px;
			width:20px;
			top:0;
			background:url(../images/search_btn.png) no-repeat center;
			border: 0 none;
			color: rgba(0, 0, 0, 0);
		}
	}
}
// banner top
.top-banner{
	@include full-width;
	max-height:508px;
	overflow:hidden;
	.hero-slides{
		display:block !important;
	}
	.slide-item{
		@include full-width;
		background: no-repeat center top;
		background-size:cover;
		min-height:508px;
		@include breakpoint($width-991) {
			min-height:406px;
		}
		@include breakpoint($width-767) {
			min-height:290px;
			text-align:center;
		}
		> img{
			width:100%;
			height:auto;
			display:none;
		}
		.slide_content{
			position:relative;
			width:100%;
			left:0;
			top:0;
			z-index:9;
			padding:15px 0;
			float:left;
			h2{
				font: 500 38px/normal $roboto;
				color:#fff;
				text-shadow: 0 0 5px rgba(0,0,0,.50);
				margin: 0 0 15px 0;
				@include breakpoint($width-991) {
					 font-size:28px;
					  margin:50px 0 15px 0;
				}
				@include breakpoint($width-767) {
					font:24px/normal $roboto;
					 margin:0 0 15px 0;
				}
			}
			.banner-content-ht{
				@include full-width;
				font: 16px/normal $roboto;
				color:#fff;
				text-shadow: 0 0 5px rgba(0,0,0,.50);
				margin-bottom: 20px;
			}
			.banner-button {
				display: inline-block;
				float: left;
				max-width:187px;
				margin-right: 20px;
				@include breakpoint($width-991) {
					max-width:160px;
					margin-left: 10px;
					margin-right: 7px;
				}
				@include breakpoint($width-767) {
					margin-left: 1%;
					margin-right: 1%;
					max-width: 48%;
				}
				&:last-of-type {
					margin-right:0;
				}
				.bb_img{
					min-height:75px;
					width:100%;
					float:left;
					img{
						display:inline-block;
					}
					.hover{
						display:none;
					}
				}
				a{
					color:#fff;
					text-transform:uppercase;
					font-weight: bold;
					font-size:16px;
					padding: 10px;
					margin-top: 6px;
					border-radius:2px;
					text-decoration:none;
					text-shadow:0 2px 1px rgba(0, 0, 0, 0.2);
					border:1px solid #1362a6;
					box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
					@include blue-grad;
					@include breakpoint($width-991) {
						font-size:14px;
						padding: 10px 4px;
					}
					@include breakpoint($width-767) {
						font-size:13px;
					}
				}
				&.active{
					.bb_img{
						.normal{
							display:none;
						}
						.hover{
							display:inline-block;
						}
					}
					a{
						border:1px solid #cf271f;
						@include orange-grad;
					}
				}
			}
		}
	}
}
.scroll-down{
	@include full-width;
	img{
		position: absolute;
		left: 50%;
		margin-left: -27px;
		top: -68px;
		z-index: 9;
	}
	@include breakpoint($width-991) {
		display:none;
	}
}

//  satisfied-customers

.satisfied-customers{
	.customers_slide{
		@include full-width;
		.customers-item{
			position:relative;
			float:left;
			width:auto;
			overflow:hidden;
			a{
				color:#fff;
				text-decoration:none;
			}
			.customers-content{
				position:absolute;
				bottom:-100%;
				left:0;
				color:#fff;
				padding:0 20px 12px 20px;
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0);h4{
					font-size:16px;
					font-weight:bold;
				}
				p{
					font:$font-14;
				}
			}
			@include breakpoint($width-767) {
				width:48%;
				img{
					width:100%;
					height:auto;
				}
				&:nth-of-type(2){
					float:right;
				}
				&:nth-of-type(3){
					width:100%;
					margin-top:10px;
				}
			}
			.black-overlay{
				bottom:0;
			}
		}
		@include breakpoint($width-1200) {
			.owl-prev{
				left: -35px;
				width: 30px;
				background-size: 50% auto;
			}
			.owl-next{
				right: -35px;
				width: 30px;
				background-size: 50% auto;
			}
		}
		@include breakpoint($width-1050) {
			.owl-prev, .owl-next{
				display:none !important;
			}
		}
	}
	
}
.all-customer-pro{
	@include full-width;
	margin-top:39px;
	@include breakpoint($width-991) {
		margin-top: 30px;
	}
	a{
		margin: 0 8px;
		@include breakpoint($width-767) {
			font-size: 14px;
			padding: 8px 13px;
			margin:0;
			&.blue-button{
				float:left;
			}
			&.orange-button{
				float:right;
			}
		}
	}
}

// why-clients-choose
.why-clients-choose{
	.section-heading{
		color: $white;
	}
	.why-clients-content{
		h4{
			@include font-26-blue;
			margin:8px 0 23px 0px;
			color: $white;
			@include breakpoint($width-767) {
				font:18px/normal $roboto;
				text-align:center;
			}
		}
	}
	.why-bottom-hd{
		font-weight:normal;
		font-style:italic;
		margin:26px 0 0 0;
		@include breakpoint($width-991) {
			font:20px/30px $roboto;
		}
		@include breakpoint($width-991) {
			font-size:18px;
		}
	}
	.custom-list{
		li{
			padding-bottom:29px;
			color: $white;
			@include breakpoint($width-991) {
				padding-bottom:8px;
			}
		}
		@include breakpoint($width-767) {
			margin-bottom:10px;
		}
	}
	.why-clients-video{
		position:relative;
		@include breakpoint($width-767) {
			width:100%;
		}
	}
}
.video-overlay{
	background:url(../images/vp.png) no-repeat center;
	background-size:100%;
	height: 74px;
	left: 50%;
	margin: -37px 0 0 -37px;
	position: absolute;
	top: 50%;
	width: 74px;
	pointer-events:none;
	cursor:pointer;
	@include breakpoint($width-767) {
		height: 44px;
		width: 44px;
		margin: -22px 0 0 -22px;
	}
}

// say-client-what
.say-client-slider {
	margin-bottom:15px;
}
.say-client-what{
	.say-items{
		.say-client-video{
			img{
				@include breakpoint($width-991) {
					max-width:306px;
					display:inline-block;
				}
			}
		}
	}
	.say-client-content{
		@include breakpoint($width-991) {
			text-align:center;
			padding-top: 12px;
			@include full-width;
		}
	}
	.client-who{
		@include full-width;
	}
	.client-what{
		@include full-width;
		margin:14px 0 5px 0;
	}
	.client-say{
		@include full-width;
		font: $font-14;
		p{
			@include full-width;
		}
	}
	.owl-dots{
		position: absolute;
		margin: 0;
		top:auto;
		bottom:-30px;
	}
	@include breakpoint($width-1200) {
		.owl-prev{
			left: -35px;
			width: 30px;
			background-size: 50% auto;
		}
		.owl-next{
			right: -35px;
			width: 30px;
			background-size: 50% auto;
		}
	}
	@include breakpoint($width-1050) {
		.owl-prev, .owl-next{
			display:none !important;
		}
	}
	@include breakpoint($width-991) {
		.owl-prev, .owl-next{
			display:block !important;
			width: 60px;
			background-size:auto;
		}
		.owl-prev{
			left: 10px;
			top: 85px;
		}
		.owl-next{
			right: 10px;
			top: 85px;
		}
	}
	@include breakpoint($width-767) {
		.owl-prev, .owl-next{
			display:none !important;
		}
	}
}

.owl-dots {
    @include full-width;	
    @extend .text-center;
	margin:35px 0 0 0;
	.owl-dot{
		background: $gray-f2;
		border-radius: 50px;
		width:19px;
		height:19px;
		display: inline-block;
		margin:0 3px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset;
		padding:4px;
		span{
			display:block;
			float:left;
			width:11px;
			height:11px;
			border-radius:20px;
			background: transparent;
		}
	}
	.owl-dot.active{
		span{
			background: $orange;
		}
	}
}
// latest-news
.latest-news{
	border-top:1px solid #d1d1d1;
	border-bottom:1px solid #d1d1d1;
	.eq_news{
		img{
			max-width:100%;
			height:auto;
		}
	}
	.news-content{
		h5{
			font-weight:bold;
			font-size:16px;
			color:$blue;
			@include breakpoint($width-767) {
				margin-bottom:0;
				font-size:14px;
			}
		}
		p{
			font: $font-14;
			color:$gray;
		}
		a{
			text-decoration:none;
		}
		@include breakpoint($width-767) {
			margin-bottom:18px;
		}
	}
	.news-help{
		background-color:$blue;
		display:table;
		width:100%;
		height:100%;
		.news-help-cell{
			display: table-cell;
			height: 100%;
			vertical-align: middle;
			padding:30px;
			@extend .text-center;
			h4{
				@include font-26-blue;
				color: $white;
				margin:0;
				@include breakpoint($width-991) {
					font-weight:bold;
				}
			}
			img{
				margin:18px 0;
			}
			@include breakpoint($width-767) {
				
			}
		}
	}
}

// find-dealer
.find-dealer-text{
	.section-heading{
		margin: 0 0 17px 0;
	}
	p{
		@extend .text-center;
		margin:0px 0 -10px 0;
	}
}
// footer location
.footer-location{
	@include full-width;
	background:url(../images/map.jpg) no-repeat top center;
	background-size:cover;
	min-height:360px;
}

// footer section
.footer-content{
	@include full-width;
	background:$white;
	@include breakpoint($width-991) {
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	}
	.logo-side{
		margin: 36px 0;
		@include breakpoint($width-767) {
			 margin: 20px 0;
		}
		h1{
			padding-left: 12px;
		}
	}
	.address-footer{
		@include full-width;
		background: url(../images/location.png) no-repeat 40px 40px;
		padding: 33px 5px 0 60px;
		font:$font-14;
	}
	.address-contact{
		@include full-width;
		padding: 33px 0 0 0;
		@include breakpoint($width-767) {
			 padding: 0 0 15px 35px;
		}
		p{
			background:no-repeat center left;
			padding: 0 0 0 26px;
			margin: 0 0 2px 0;
			font:$font-14;
			a{
				color:$gray;
			}
		}
		.phone{
			background-image:url(../images/phone.png);
		}
		.fax{
			background-image:url(../images/fax.png);
		}
		.email{
			background-image:url(../images/email_f.png);
		}
	}
}
.footer-copyrights{
	@include full-width;
	background:#e7e7e7;
	font-size:12px;
	padding:12px 0 10px 0;
	@include breakpoint($width-991) {
		line-height:20px;
		text-align:center;
	}
	a{
		color:$gray;
	}
	.social-media-footer{
		a{
			margin:0 0 0 6px;
			@include breakpoint($width-991) {
				display: inline-block;
				margin: 13px 0 0 6px;
			}
		}
		@include breakpoint($width-767) {
			text-align:left;
		}
	}
	#go-top{
		position:fixed;
		z-index:9;
		right:20px;
		bottom:18px;
		display:none;
		@include breakpoint($width-1050) {
			width:35px;
			bottom: 110px;
		}
		@include breakpoint($width-767) {
			bottom: 7px;
			right: 10px;
		}
	}
	.copy-text{
		display: inline-block;
		margin-top: 8px;
		@include breakpoint($width-991) {
			display: block;
			text-align:left;
		}
		@include breakpoint($width-767) {
			text-align:center;
		}
	}
	.footer-policy{
		display:inline-block;
		@include breakpoint($width-991) {
			display: block;
			float:left;
			width:100%;
		}
		ul{
			display: block;
			float: left;
			margin: -12px 0 0;
			padding: 0;
			width: 100%;
			li{
				float: left;
				list-style: outside none none;
				margin: 0 6px -9px;
			}
			@include breakpoint($width-991) {
				margin: 7px 10px 7px 0;
				li{
					margin:0 12px 0 0;
				}
			}
			@include breakpoint($width-767) {
				margin: 0;
				width:100%;
				 li{
					display:inline-block;
					float:none;
				 }
			}
		}
	}
}

////////// about us page
.banner_image{
	display:none;
}
.inner-banner-big{
	@include full-width;
	background: no-repeat center top;
	background-size:cover;
	min-height: 508px;
	padding: 65px 0 20px 0;
	text-align: center;
	&.about-big{
		@extend .text-center;
		padding-top:127px;
	}
	@include breakpoint($width-991) {
		min-height: 408px;
		padding-top:30px;
		&.about-big{
			min-height: 408px;
			padding-top:100px;
		}
	}
	@include breakpoint($width-767) {
		min-height: 290px;
		padding:20px;
		&.about-big{
			min-height: 290px;
			padding:20px;
		}
	}
	h3{
		font: bold 38px/normal $roboto;
		color:#fff;
		text-shadow: 0 0 5px rgba(0,0,0,.50);
		@include breakpoint($width-991) {
			font: 500 28px/normal $roboto;
		}
		@include breakpoint($width-767) {
			font-size:22px;
		}
	}
	p{
		font: $common-font-28;
		color:#fff;
		text-shadow: 0 0 2px rgba(0,0,0,.50);
		margin:15px 0 0 0 ;
		@include breakpoint($width-767) {
			font: $font-14;
		}
	}
	.blue-button{
		border: 2px solid #fff;
		color:  #fff;
		padding: 6px 20px;
		&.active, &:active, &:focus{
			color:  $blue;
			background-color:  #fff;
			padding: 8px 20px;
			border-top: 0;
			border-bottom: 0;
			box-shadow: 0 6px 2px -3px rgba(0, 0, 0, 0.25) inset;
		}
		&:hover{
			color:  $blue;
			background-color:  #fff;
		}
	}
	.full-width a{
		margin:22px 17px 0 0;
	}
}
.inner-banner-small{
	@include full-width;
	@extend .text-center;
	background: no-repeat center top;
	background-size:cover;
	min-height: 160px;
	h3{
		font: bold 38px/normal $roboto;
		color:#fff;
		text-shadow: 0 0 5px rgba(0,0,0,.50);
		margin:0;
		@include breakpoint($width-991) {
			font: 500 28px/normal $roboto;
		}
		@include breakpoint($width-767) {
			font: normal 24px/normal $roboto;
		}
	} 
	@include breakpoint($width-991) {
		min-height:128px;
	}
	@include breakpoint($width-767) {
		min-height:80px;
	}
}
.the-team{
	@include full-width;
	.team-meambers{
		@include full-width;
		margin: 8px 0 51px 0;
		&:nth-of-type(odd){
			> div:first-of-type{
				float:right;
			}
			.team-content {
				padding: 4px 30px 0 48px;
			}
		}
		&:last-of-type{
			margin-bottom:0;
		}
		.team-content{
			@include full-width;
			padding: 4px 0 0 55px;
			h3{
				border-bottom:1px solid #d1d1d1;
				font-size:26px;
				line-height:auto;
				margin:0;
				padding:0 38px 8px 0;
				color:$blue;
				width:auto;
				display:inline-block;
				font-weight: normal;
				@include breakpoint($width-991) {
					font-size:20px;
				}
				@include breakpoint($width-767) {
					width:172px;
					padding:3px 0 6px;
				}
			}
			.des-team{
				@include full-width;
				font-style:italic;
				margin: 4px 0 23px 0;
				@include breakpoint($width-991) {
					font: $font-14;
				}
				@include breakpoint($width-767) {
					margin: 10px 0 4px;
				}
			}
			.team-dtl{
				a{
					display:block; 
					float:left;
					width:26px;
					height:26px;
					background: no-repeat center center;
					margin:0 21px 0 0;
					&:hover img{
						display:none;
					}
					@include breakpoint($width-767) {
						margin:0 10px;
						float:none;
						display:inline-block;
						img{
							display:none;
						}
					}
				}
				.ph-team{
					background-image:url(../images/ph.png);
				}
				.linkedin-team{
					background-image:url(../images/linkedin.png);
				}
				.mail-team{
					background-image:url(../images/mail.png);
				}
				@include breakpoint($width-767) {
					width: 172px;
					display:inline-block;
				}
			}
			@include breakpoint($width-991) {
				padding:0 !important;
				font:$font-14;
				margin:5px 0;
			}
		}
		img{
			display:block;
			float:left;
			@include breakpoint($width-991) {
				width:100%;
				height:auto;
			}
		}
		@include breakpoint($width-767) {
			text-align:center;
			margin: 10px 0;
			.team-star-pic{
				img{
					max-width:172px;
					display:inline-block;
					float:none;
				}
			}
		}
	}
}
.team-star-pic{
	img{
		border-radius: 0 !important;
	}
}
.innovation-abt{
	@extend .text-center;
	background:$blue url(../images/innovation-abt.jpg) no-repeat right center;
	.section-heading{
		margin: 80px 0 21px;
		line-height: 50px;
		color: $white;
		@include breakpoint($width-991) {
			line-height:normal;
			margin:36px 0 21px;
		}
		@include breakpoint($width-767) {
			margin:0 0 10px 0;
		}
	}
	a{
		margin-bottom: 70px;
		@include breakpoint($width-991) {
			margin-bottom: 55px;
		}
		@include breakpoint($width-767) {
			margin:0;
		}
	}
	@include breakpoint($width-991) {
		background-position: 240%;
		background-size: 90%;
	}
	@include breakpoint($width-767) {
		background-image:none !important;
	}
}

// Project page
.our-projects{
	.project_des{
		@include full-width;
		@extend .text-center;
		@include font-26-blue;
		margin: -20px 0 44px 0;
		@include breakpoint($width-767) {
			font: 400 18px/normal $roboto;
			margin-bottom:25px;
		}
	}
	.tabbing-wrap{
		margin-bottom:50px;
		.tabbing-btn{
			a{
				@include breakpoint($width-767) {
					width:32%;
					margin:0;
					min-width:0;
					font-family:14px;
					padding: 12px 5px;
					float:left;
					&:nth-of-type(2){
						margin:0 2%;
					}
				}
			}
		}
		@include breakpoint($width-991) {
			margin-bottom:40px;
		}
	}
	.project-tab-list{
		padding:0;
		margin:0;
		width:100%;
		display:block;
		float:left;
		li{
			padding:0;
			margin:20px 20px 0 0;
			display:block;
			float:left;
			overflow:hidden;
			width:306px;
			position:relative;
			&:nth-of-type(3n){
				margin-right:0;
			}
			a{
				color:#fff;
			}
			.product-post-dt{
				@include full-width;
				position:absolute;
				bottom:-100%;
				.product-post-slider{
					a{
						color:#fff;
						text-decoration:none;
					}
					.owl-controls .owl-prev, .owl-controls .owl-next{
						width:17px;
						height:32px;
						margin-top:-16px;
						background-color:rgba(0,0,0,0) !important;
					}
					.owl-controls .owl-next{
						right:20px;
						background-image: url("../images/next_w.png");
					}
					.owl-controls .owl-prev{
						left:20px;
						background-image: url("../images/prev_w.png");
					}
					@include breakpoint($width-991) {
						display:none;
					}
				}
				.product-post-text{
					position:absolute;
					bottom:0;
					left:0;
					color:#fff;
					padding:0 20px 12px 20px;
					z-index:9;
					background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
					background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0);
					h4{
						font-size:16px;
						font-weight:bold;
					}
					time, .time{
						color:#fff;
						margin-bottom:5px;
					}
					p{
						font: 14px/normal $roboto;
					}
				}
				@include breakpoint($width-991) {
					bottom:0 !important;
				}
			}
			@include breakpoint($width-991) {
				width: 230px;
			}
			@include breakpoint($width-767) {
				width: 100%;
				margin:20px 0 0 0;
			}
		}
		@include breakpoint($width-767) {
			float: none;
			margin: 0 auto;
			width: 300px;
		}
	}
}
.tabbing-wrap{
	@include full-width;
	.tabbing-btn{
		@extend .text-center;
		&.two-tab-button{
			a{
				width:50%;
				float:left;
				margin:0;
				min-width:0;
				@include breakpoint($width-767) {
					padding: 12px 4px;
					font-size: 13px;
				}
			}
		}
		a{
			@extend .gray-button;
			min-width: 160px;
			padding: 12px 20px;
			margin: 0 8px;
			&.active{
				font-weight:normal;
				text-shadow:none;
				text-transform:none;
				border:0;
				text-decoration:none;
				color:#fff;
				box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25) inset;
				background: -moz-linear-gradient(top, rgba(1,62,127,1) 0%, rgba(1,52,106,1) 100%);
				background: -webkit-linear-gradient(top, rgba(1,62,127,1) 0%,rgba(1,52,106,1) 100%); 
				background: linear-gradient(to bottom, rgba(1,62,127,1) 0%,rgba(1,52,106,1) 100%);
				.pro-filter{
					.count-pro{
						background:#fff;
						color:$blue;
					}
				}
			}
			.pro-filter{
				.count-pro{
					background:$blue;
					border-radius: 20px;
					color: #fff;
					display: inline-block;
					font-size: 12px;
					height: 18px;
					line-height: normal;
					padding: 2px;
					position: relative;
					right: -2px;
					top: -6px;
					width: 18px;
				}
			}
		}
		@include breakpoint($width-1050) {
			font: 14px/20px $roboto;
		}
	}
}
.tab-items{
	@include full-width;
	position: absolute;
	z-index: -999999;
	opacity:0;
	top:0;
	&:first-of-type{
		position:static;
		z-index:9;
		opacity:1;
	}
}
.sub-tabbing{
	.tab-items{
		background-color:#fff;
		border:1px solid #e7e7e7;
		margin: 20px 0 0 0;
		padding:20px;
		position:absolute;
		&:first-of-type{
			position:static;
		}
		div{
			position:static;
		}
		.owl-nav{
			display:none;
		}
		.owl-dots {
			bottom: 7px;
			margin: 0;
			position: absolute;
			left: 15px;
			text-align: left;
			width: initial;
		}
		.single-slider{
			margin-top: 42px;
		}
		h5{
			color:$blue;
			margin:0;
		}
		p{
			font:$font-14;
		}
		.orange-button{
			text-align:center;
			width:100%;
			max-width:380px;
		}
	}
}
.sub-tabbing-btn {
	display: table;
	float: none;
	table-layout: fixed;
	a {
		background-color: #fff;
		border-left: 10px solid #f2f2f2;
		border-right: 10px solid #f2f2f2;
		display: table-cell;
		height: 143px;
		text-align: center;
		vertical-align: middle;
		width:2%;
		position:relative;
		text-decoration:none;
		color:$blue;
		@include breakpoint($width-991) {
			height: 108px;
		}
		span{
			padding: 5px;
		}
		&:first-of-type{
			border-left:0;
		}
		&:hover{
			color:#fff;
			background: $blue;
		}
		&:active, &.active{
			font-weight:bold;
			color:#fff;
			text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
			@include orange-grad;
			.posBorder{
				border: 1px solid #bc241c;
			}
			&:before {
				display: block;
				position: absolute;
				width: 0; 
				height: 0; 
				content: "";
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-top: 10px solid #cd271f;
				left:50%;
				bottom:-9px;
				margin-left:-12px;
				z-index:9;
			}
			
		}
		&:last-of-type{
			border-right:0;
		}
		.posBorder {
			border: 1px solid #e7e7e7;
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	@include breakpoint($width-1050) {
		font: 14px/20px $roboto;
	}
}
.our-projects-single{
	h3{
		font:bold 32px/normal $roboto;
		color:$blue;
		margin:0;
		@include breakpoint($width-1050) {
			font-size:26px;
		}
		@include breakpoint($width-767) {
			font-size:22px;
		}
	}
	time, .time{
		margin:6px 0 8px 0;
	}
	p{
		font: $font-14;
	}
	.right-product-single{
		h3{
			margin:50px 0 10px 0;
			@include breakpoint($width-1200) {
				margin-top:10px;
			}
		}
		.custom-list{
			li{
				padding: 0 0 7px 29px;
			}
			@include breakpoint($width-1200) {
				margin-bottom:10px;
			}
		}
		@include breakpoint($width-767) {
			padding-left:70px;
		}
	}
	.owl-controls{
		.owl-dots{
			display:none !important;
		}
		.owl-prev{
			@include breakpoint($width-1200) {
				left:0;
			}
			@include breakpoint($width-767) {
				background-size: 45% auto;
				height: 62px;
				margin-top: -31px;
				width: 37px;
			}
		}
		.owl-next{
			@include breakpoint($width-1200) {
				right:0;
			}
			@include breakpoint($width-767) {
				background-size: 45% auto;
				height: 62px;
				margin-top: -31px;
				width: 37px;
			}
		}
	}
	.prod-single-slide{
		@include full-width;
	}
}
.navigation-prod-single{
	margin-top:30px;
	.nav-prod {
		margin-top: 8px;
		font-size:14px;
		a{
			border-bottom:1px solid $blue;
			text-decoration:none;
		}
		&.prev{
			background:url(../images/single-prev.jpg) no-repeat left center;
			padding-left:27px;
			@include breakpoint($width-767) {
				text-align:right;
			}
		}
		&.next{
			background:url(../images/single-next.jpg) no-repeat right center;
			padding-right:27px;
			@include breakpoint($width-767) {
				text-align:left;
			}
		}
		@include breakpoint($width-767) {
			max-width:90px;	
		}
	}
	.orange-button{
		min-width:135px;
		@include breakpoint($width-767) {
			font-size: 14px;
			margin-top: 10px;
			min-width: 0;
			padding: 12px;
		}
	}
	@include breakpoint($width-767) {
		@include full-width;
	}
}
// popup
.hasVideoPopup{
	cursor:pointer;
}
.overlay{
	display:none;
	background: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.popup {
    display: none;
    float: left;
    left: 0;
	top:-200%;
    max-width: 900px;
    position: fixed;
    z-index: 999;
	@include breakpoint($width-991) {
		 max-width: 600px;
	}
	@include breakpoint($width-767) {
		 max-width: 300px;
		 max-height: 300px;
	}
	.close_popup{
		cursor: pointer;
		position: absolute;
		right: -4px;
		top: -4px;
	}
	iframe{
		border:0;
		max-width:100%;
		@include breakpoint($width-767) {	
			height:auto;
		}
	}
}
// aerocooling
.farms-cooling-tab{
	.section-heading{
		margin-bottom:6px;
	}
	.fc-tab-section{
		margin-top: 31px;
	}
	.sb-tab-hd{
		padding: 22px 14px 14px 14px;
		@include breakpoint($width-767) {
			text-align:center;
		}
	}
}
.two-eds-ul{
	margin-top: 23px;
}
.pro-act-gl{
	@include full-width;
	.pro-act-item{
		margin-bottom:20px;
		position:relative;
		overflow:hidden;
		&:last-of-type{
			margin-bottom:0;
		}
	}
}
.black-overlay{
	position:absolute;
	bottom:-200%;
	left:0;
	color:#fff;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.4);
	.black-overlay-inn{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		padding:0 20px 12px 20px;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0);
	}
	h4{
		font-size:16px;
		font-weight:bold;
	}
	p{
		font-size:14px;
		line-height:normal;
		@include breakpoint($width-991) {
			display:none;
		}
	}
	.pro-act-item &{
		@include breakpoint($width-991) {
			top:0;
		}
	}
}
.pro-ac-bt{
	margin-top:40px;
	a{
		margin-left:20px;
		@include breakpoint($width-767) {
			margin-left: 0;
			padding: 8px 15px;
			&.blue-button{
				float:left;
			}
			&.orange-button{
				float:right;
			}
		}
	}
	@include breakpoint($width-991) {
		margin-top:20px;
	}
}
// experts-advice
.experts-advice{
	@include full-width;
	background:url(../images/advice.jpg) no-repeat center bottom;
	.section-heading{
		margin: 50px 0 7px 0;
		@include breakpoint($width-767) {
			margin: 30px 0 7px 0;
		}
	}
	.expert-left{
		@include full-width;
		padding: 23px 0 0 20px;
		h4{
			@extend .text-center;
			font: italic 500 32px/48px $roboto;
			color:$orange;
			@include breakpoint($width-991) {
				font-size:26px;
				line-height:42px;
			}
			@include breakpoint($width-991) {
				font-size:22px;
				line-height:normal;
			}
		}
		.rq-wrap{
			float:right;
			@include breakpoint($width-767) {
				width:100%;
				margin:0 0 10px 0;
			}
		}
		.exp-input{
			width:180px;
			float:left;
			margin:0 10px 0 0;
			input{
				color:#333;
			}
			@include breakpoint($width-991) {
				width:157px;
			}
			@include breakpoint($width-767) {
				width:100%;
				margin:0 0 10px 0;
			}
		}
		.rq-wrap{
			input{
				padding: 9px 20px;
				@include breakpoint($width-991) {
					font-size:14px;
					padding: 9px 10px;
				}
				@include breakpoint($width-767) {
					width:100%;
				}
			}
		}
		@include breakpoint($width-767) {
			padding:0;
		}
		.flc-w{
			font-size:14px;
			a{
				color:#176ab0;
			}
			@include breakpoint($width-767) {
				text-align:center;
			}
		}
	}
	@include breakpoint($width-767) {
		background:none;
		padding-bottom:35px;
	}
}
// language selector 
#lang_sel{
	background:url(../images/lg.png) no-repeat right 12px;
	margin-right:10px;
	position:relative;
	ul{
		@include full-width;
		display:block;
		float:left;
		position:static;
		li{
			text-align:left;
			width:100%;
			position:static;
			padding: 0 20px 0 0 !important;
			a{
				background:none !important;
				border:0;
				margin:0;
				font-size:14px;
				float:left;
				width:100%;
				img{
					 top: -1px !important;
				}
			}
			a.lang_sel_sel{
				padding: 0 0 15px 0;
				display: block;
			}
			ul{
				z-index:99;
				border:0;
				background-color: #fff;
				border-radius: 4px;
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
				right: -5%;
				left: auto;
				width: 110%;
				min-width:150px;
				height:auto;
				top:30px;
				&:before{
					 border-bottom: 5px solid #fff;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					content: "";
					height: 0;
					position: absolute;
					right: 6px;
					top: -5px;
					width: 0;
				}
				li{
					width:100%;
					padding:0 !important;
					a:hover{
						background-color:#f2f2f2 !important;
					}
				}
			}
		}
	}
}
// vertical tab
.vertical-tab{
	background-color: #fff;
	.tb-btn{
		padding-left:0;
		padding-right:0;
		a{
			display: block;
			width:100%;
			float:left;
			text-decoration:none;
			color:$blue;
			border:1px solid #e7e7e7;
			border-bottom-width:0 !important;
			padding:22px 20px;
			position:relative;
			&:hover{
				color:#fff;
				border:1px solid #1263A8;
				background-color: $blue;
			}
			&:last-of-type{
				border-bottom-width:1px !important;
			}
			&:active, &.active{
				font-weight:bold;
				color:#fff;
				border:1px solid #ee2d24;
				text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
				@include orange-grad;
				&:before {
					display: block;
					position: absolute;
					width: 0; 
					height: 0; 
					content: "";
					border-top: 12px solid transparent;
					border-bottom: 12px solid transparent;
					border-left: 10px solid #ee2d24;
					right:-10px;
					top:50%;
					margin-top:-12px;
					z-index:9;
				}
			}
		}		
	}
	.vrt-in-pd{
		@include full-width;
		padding:10px 0 10px 30px;
	}
	h5{
		color:$blue;
	}
}
.dc-page-tab{
	img{
		margin: 0 0 20px 20px;
		float:right;
	}
}
.vertical-t-wrap .section-heading{
	color: $white;
}
// dairy heasting
.vert-cust-ul{
	margin: 13px 0 25px 0;
    padding: 0 7%;
    display: block;
    float: left;
    width: 100%;
	li{
		display:block;
		float:left;
		list-style:none;
		width:33.3%;
		color:$blue;
		position:relative;
		span{
			padding-left: 30px;
			position: relative;
			&:before{
				background: url("../images/li.png") no-repeat left top;
				content: "";
				height: 12px;
				left: 0;
				position: absolute;
				top: 3px;
				width: 17px;
			}
		}
		@include breakpoint($width-767) {
			width:100%;
			text-align:left;
		}
	}
	@include breakpoint($width-767) {
		padding-left:50px;
		margin:12px 0;
	}
}
.abb-acc{
	border: 1px solid #e7e7e7;
    width: 98%;
    margin: 0 1%;
    padding: 41px 14px;
	font:$font-14;
	h5{
		margin:0;
		color:$blue;
	}
	.orange-button{
		@include breakpoint($width-767) {
			width:100%;
			text-align:center;
		}
	}
	.pro-act-item{
		position:relative;
		overflow:hidden;
		img{
			max-width:auto;
			width:100%;
		}
		p{
			@include breakpoint($width-991) {
				display:block;
			}
		}
		@include breakpoint($width-767) {
			margin-top:20px;
		}
	}
	@include breakpoint($width-767) {
		border:0;
		width:100%;
		margin:0;
		padding:0;
	}
}
.dealer-message{
	h4{
		text-align:center;
		@include font-26-blue;
		margin:0;
	}
}
// conpany-news
.conpany-news-wrap{
	@include full-width;
	padding:30px 0 50px 0;
	.conpany-news{
		@include full-width;
		margin:0;
		padding:0;
		li{
			display:block;
			float:left;
			list-style:none;
			max-width:306px;
			font:$font-14;
			margin: 0 20px 38px 0;
			&:nth-of-type(3n + 3){
				margin-right:0;
			}
			.full-width img{
				width:100%;
				height:auto;
				&:hover{
					box-shadow:0 3px 8px rgba(0,0,0,.5);
				}
			}
			h4{
				font: bold 16px/normal $roboto;
				color:$blue;
				margin: 16px 0 0 0;
				width: 100%;
				float: left;
				@include breakpoint($width-991) {
					font: bold 14px/normal $roboto;
				}
			}
			p{
				width: 100%;
				float: left;
				margin: 0 0 5px 0;
				@include breakpoint($width-991) {
					font: 14px/24px $roboto;
				}
			}
			@include breakpoint($width-991) {
				max-width:232px;
				margin: 0 15px 18px 0;
			}
			@include breakpoint($width-767) {
				max-width:100%;
				margin: 0 0 18px 0;
			}
		}
		@include breakpoint($width-767) {
			max-width:300px;
			text-align:left; 
			float:none;
			display:inline-block;
		}
	}
	@include breakpoint($width-767) {
		text-align:center;
	}
}
.left-arrow{
	background: url("../images/single-next.jpg") no-repeat right center;
    padding-right: 27px;
	a{
		border-bottom: 1px solid #146ab3;
		text-decoration: none;
		@include breakpoint($width-767) {
			text-align:center;
		}
	}
}
// news article single
.article-banner{
	@include full-width;
	min-height:376px;
	background: no-repeat center top;
	background-size:cover;
	.banner_image{
		@include breakpoint($width-767) {
			display:block;
			width:100%;
		}
	}
	@include breakpoint($width-991) {
		min-height:301px;
	}
	@include breakpoint($width-767) {
		min-height:auto;
		background:none;
	}
}
.news-article-title{
	@include full-width;
	h2{
		font: bold 38px/normal $roboto;
		color: $blue;
		margin: 19px 0;
		@include breakpoint($width-991) {
			font: bold 26px/normal $roboto;
		}
		@include breakpoint($width-767) {
			font: bold 22px/normal $roboto;
		}
	}
}
.author-news-art{
	@include full-width;
	margin-bottom: 30px;
	.author-pdt{
		margin-top:50px;
		.author-pdt-text{
			position:absolute;
			left:0;
			bottom:-25px;
			background:#fff;
			width:100%;
			text-align:center;
			padding:10px 0;
			b{
				margin-bottom:8px;
				display:inline-block;
				@include breakpoint($width-991) {
					margin-bottom:0;
				}
			}
			@include breakpoint($width-767) {
				position:static;
				text-align:left;
			}
		}
		@include breakpoint($width-767) {
			margin:0;
		}
	}
	.dsp-author-news{
		@include full-width;
		padding: 33px 0 0 32px;
		font: $font-14;
		h3{
			font: bold 32px/normal $roboto;
			color: $blue;
			margin:0;
			@include breakpoint($width-991) {
				font: bold 26px/normal $roboto;
			}
			@include breakpoint($width-767) {
				font: bold 22px/normal $roboto;
			}
		}
		@include breakpoint($width-767) {
			padding:0;
		}
	}
}
.news-quote{
	@include full-width;
	background: $gray-f2;
	h3{
		background:url(../images/qt.png) no-repeat left top;
		font: 400 32px/normal $roboto;
		color: $blue;
		margin: 0 0 0 102px; 
		padding: 35px 0 42px 82px;
		text-align: center;
		max-width: 670px;
		@include breakpoint($width-991) {
			margin: 0 0 0 10px;
			font-size: 26px;
			line-height: normal;
		} 
		@include breakpoint($width-767) {
			margin: -17px 0 0;
			font-size: 22px;
			background-size: 52px auto;
			padding: 40px 10px 10px;
		} 		
	}
}
.text-item-news{
	@include full-width;
	font: $font-14;
	margin-bottom:30px;
	&:last-of-type{
		margin-bottom:0;
	}
	img{
		@include breakpoint($width-767) {
			margin-bottom:10px;
		} 
	}
	@include breakpoint($width-767) {
		margin-bottom:0;
	} 
}
.image-position-Right{
	>div:first-of-type{
		float:right;
	}
	>div:last-of-type{
		float:left;
	}
}
// contact
.contact-details{
	margin-bottom:28px;
	.cp-txt-title{
		@include font-26-blue;
		margin:40px 0 0 0;
		@include breakpoint($width-767) {
			font-size:18px;
			line-height:normal;
		} 
	}
	.address-contact{
		h4{
			font: bold 32px/normal $roboto;
			color: $blue;
			margin:37px 0 5px 0;
			@include breakpoint($width-991) {
				font-size:26px;
			}
			@include breakpoint($width-767) {
				font-size:22px;
				text-align:center;
			}
		}
		.address-text{
			@include full-width;
			font: 300 22px/40px $roboto;
			margin-bottom: 30px;
			&.cpt-address{
				background: url("../images/location.png") no-repeat 0 14px;
				padding-left:25px;
			}
			@include breakpoint($width-767) {
				font-size:18px;
				line-height:30px;
				padding:0;
			}
			.phone_foot-cpt, .fax_foot-cpt, .email_foot-cpt{
				background: no-repeat left center;
				padding-left:25px;
			}
			.phone_foot-cpt{
				background-image: url("../images/phone.png");
			}
			.fax_foot-cpt{
			background-image: url("../images/fax.png");
			}
			.email_foot-cpt{
				background-image: url("../images/email_f.png");
			}
			a{
				text-decoration:none;
				color:$gray;
			}
			@include breakpoint($width-991) {
				font-size:20px;
			}
		}
	}
	.call-wrap{
		h4{
			font:500 italic 32px/ normal $roboto;
			color:$red;
			margin: 35px 0 15px 0;
			@include breakpoint($width-991) {
				font-size:26px;
				line-height:normal;
			}
			@include breakpoint($width-767) {
				font-size:22px;
			}
		}
		.call-form{
			@include full-width;
			padding:30px 40px;
			border:1px solid;
			border-top-color:#f8f8f8;
			border-right-color:#e3e3e3;
			border-bottom-color:#cfcfcf;
			border-left-color:#f3f3f3;
			background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(230,230,230,1) 100%);
			background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(230,230,230,1) 100%);
			background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(230,230,230,1) 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 );
			.contact-img{
				position: absolute;
				z-index: -1;
				top: -132px;
				right: -160px;
				@include breakpoint($width-991) {
					height: auto;
					max-width: 150px;
					right: -120px;
					top: -102px;
				}
				@include breakpoint($width-767) {
					right: 0;
					top: -115px;
				}
			}
			@include breakpoint($width-991) {
				padding:25px;
				.orange-button{
					width:100%;
					padding: 8px 5px;
				}
			}
		}
		.cc-field{
			@include full-width;
			margin-bottom:20px;
		}
	}
}
.contact-page-form{
	background:url(../images/badi-gai.jpg) no-repeat center top;
	background-size:cover;
	h4{
		font:bold 32px/normal $roboto;
		color:#fff;
		text-align:center;
		margin:0 0 34px 0;
	}
	.contact-form-w{
		.cf-field-w{
			margin-bottom: 19px;
		}
	}
	.wpcf7-submit{
		@include breakpoint($width-767) {
			margin-top: 20px;
			width:100%;
		}
	}
}
// Custom Search
.newListSelected{
	height:40px;
	width:100%; 
	float:left;
	color:#7e7e7e;
	font-size:14px;
	border:1px solid #9f9f9f;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 );
	.contact-page-form &{
		background:none;
		border-color: #fff !important;
		color:#fff;
	}
	.selectedTxt {
		padding: 11px 10px;
		width:100%;
		float:left;
		background:url(../images/cs.png) no-repeat 96% center;
		.contact-page-form &{
			background-image:url(../images/cd.png);
		}
		@include breakpoint($width-991) {
			padding: 8px 10px;
		}
		.wpcf7-form &{
			text-align:left;
		}
	}
	.SSContainerDivWrapper {
		background-color: #fff;
		position: absolute;
		width: 100%;
		z-index: 99;
		border:1px solid #9f9f9f;
		max-height: 200px;
		overflow: auto;
		text-align:left;
		ul{
			@include display-block;
			li{
				@include display-block;
				list-style:none;
				a{
					@include display-block;
					color:#7e7e7e;
					padding:2px 10px;
					text-decoration:none;
					&:hover{
						background-color:#ececec;
					}
				}
			}
		}
	}
}
.loader-product-block{
	@include full-width;
	text-align:center;
	margin:10px 0;
}
// accordion
.accordion{
	@include full-width;
	background:#fff;
	border:1px solid #e7e7e7;
	border-top:none;
	margin:10px 0;
	.accordion-item{
		@include full-width;
		&.active{
			border-bottom:1px solid #e7e7e7;
		}
		.heading-accordion{
			@include full-width;
			font-size:14px;
			color:$blue;
			border-bottom:1px solid #e7e7e7;
			padding:12px 18px;
			cursor:pointer;
			&:before{
				content:'';
				position:absolute;
				width:16px;
				height:9px;
				right:20px;
				top:16px;
				background:url(../images/ar.png) no-repeat center;
			}
			&.active{
				@include orange-grad;
				box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25) inset;
				text-shadow:0 2px 1px rgba(0, 0, 0, 0.2);
				color:#fff;
				font-weight:bold;
				&:before{
					background-image:url(../images/ard.png);
				}
			}
		}
		.content-accordion{
			@include full-width;
			opacity: 0;
			position: absolute;
			z-index: -999;
			.content-accordion-inner{
				@include full-width;
				padding:12px 18px;
				font:14px/22px $roboto;
				h5{
					color: #146ab3;
					margin: 0;
					font-size:14px;
				}
			}
			.single-slider{
				margin:10px 0;
				.owl-nav{
					display:none;
				}
				.owl-dots{
					margin:10px 0 0 0;
				}
			}
			.orange-button{
				@include breakpoint($width-767) {
					text-align:center;
					width:100%;
				}
			}
		}
		&:first-of-type{
			.content-accordion{
				opacity: 1;
				position: static;
				z-index: 9;
			}
		}
	}
}

// default style
.search-wrapper{
	img, .slider{
		display:none;
	}
	h1{
		font:500 32px/normal $roboto;
		color:#146ab3;
		@include breakpoint($width-991) {
			font-size:26px;
		}
		@include breakpoint($width-767) {
			font-size:22px;
		}
	}
	.search-item{
		@include full-width;
		margin-bottom:20px;
		h2{
			font:500 26px/normal $roboto;
			margin:0 0 8px 0;
			@include breakpoint($width-991) {
				font-size:22px;
			}
			@include breakpoint($width-767) {
				font-size:18px;
			}
		}
	}
	.navigation{
		@include full-width;
		margin:20px 0 40px;
		h2{
			display:none;
		}
		.nav-links{
			>*{
				margin:0 8px 0 0;
			}
		}
	}
}
.not-found-page{
	margin-bottom:200px;
	h1{
		font:500 32px/normal $roboto;
		color:#146ab3;
		@include breakpoint($width-991) {
			font-size:26px;
		}
		@include breakpoint($width-767) {
			font-size:22px;
		}
	}
}
.single-post-page{
	margin-bottom:80px;
	h1.page-title{
		font:500 32px/normal $roboto;
		color:#146ab3;
		@include breakpoint($width-991) {
			font-size:26px;
		}
		@include breakpoint($width-767) {
			font-size:22px;
		}
	}
}
.thank-you-form {
    background-color: #fff;
    margin: 2%;
    max-width: 500px;
    padding: 25px;
    position: fixed;
    width: 96%;
    z-index: 999;
	display:none;
	text-align:center;
	.close-thanks {
		position: absolute;
		right: -23px;
		top: 0;
		cursor:pointer;
	}
	@include breakpoint($width-767) {
		max-width: 260px;
	}
}

// footer-location
#map_wrapper {
    height: 420px;
	@include breakpoint($width-767) {
		height: 290px;
	}
}
.footer-locatio{
	.map-form{
		width:610px;
		position:absolute;
		top:30px;
		left:50%;
		margin-left: -305px;
		z-index:99;
		border-top:1px solid #f8f8f8;
		border-right:1px solid #e3e3e3;
		border-bottom:1px solid #e3e3e3;
		border-left:1px solid #f8f8f8;
		background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(230,230,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
		h2{
			@include full-width;
			margin:0;
			padding:25px 0;
			text-align:center;
			font: bold 32px/normal $roboto;
			color:$blue;
			border-bottom:1px solid #cfcfcf;
			background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(230,230,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
			@include breakpoint($width-991) {
				font-size: 26px;
			}
			@include breakpoint($width-767) {
				font: bold 22px/normal $roboto;
			}
		}
		.form-for-location{
			padding:20px 40px;
			min-height: 110px;
			#loc_error{
				@include full-width;
				font:14px/normal $roboto;
				margin:8px 0;
				color:#f00;
			}
			#searchTextField{
				width:55%;
				@include breakpoint($width-767) {
					width:100%;
					margin-bottom:8px;
				}
			}
			#map_form_submit{
				width:40%;
				float:right;
				@include breakpoint($width-767) {
					width:100%;
				}
			}
			.location_info{
				padding-top:20px;
				max-height: 180px;
				overflow-y: auto;
				padding-top: 20px;
				@include breakpoint($width-767) {
					max-height: none;
					overflow:visible;
				}
			}
			@include breakpoint($width-767) {
				padding:20px;
			}
		}
		@include breakpoint($width-767) {
			position:static;
			margin:0 0 20px 0; 
			width:100%;
			float:left;
		}
	}
}
.dealer-find-dt {
    float: left;
    padding-right: 15px;
    width: 60%;
	.lines-wrap{
		@include full-width;
		margin-bottom:8px;
		font: 14px/normal $roboto;
		.title-line{
			float:left;
			width:30%;
			font-weight:bold;
		}
		.detail-line{
			float:right;
			width:68%;
		}
	}
	@include breakpoint($width-767) {
		width:100%;
	}
}
.dealer-find-img{
	float:right;
	width:40%;
	text-align:center;
	img{
		border-radius: 50%;
		height: auto;
		max-width: 150px;
	}
	@include breakpoint($width-767) {
		width:100%;
		margin-top:8px;
	}
}

.goAllProject{
	display:block;
	font:14px/normal $roboto;
	background: url(../images/gb.png) no-repeat center left;
	margin: -20px 0 20px;
    padding-left: 11px;
	@include breakpoint($width-767) {
		margin: -10px 0 20px;
	}
}
#close_map_info{
	margin-top:10px;
	cursor:pointer;
}























