/*================Responsive Menu==============-*/
/* line 2, ../sass/navigation.scss */
.mean-container .mean-bar {
  float: left;
  width: 100%;
}

/* line 3, ../sass/navigation.scss */
.mean-container a.meanmenu-reveal {
  width: 24px;
  cursor: pointer;
  color: #146ab3;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  float: right;
  margin-top: 13px;
  z-index: 9999;
  position: relative;
}

/* line 4, ../sass/navigation.scss */
.mean-container a.meanmenu-reveal.meanclose {
  width: 19px;
  height: 19px;
  font-size: 1px !important;
  background: url(../images/menu.png) no-repeat center;
}

/* line 5, ../sass/navigation.scss */
.mean-container a.meanmenu-reveal span {
  display: block;
  background: #146ab3;
  height: 3px;
  margin-top: 4px;
}

/* line 6, ../sass/navigation.scss */
.mean-container .mean-nav {
  float: left;
  width: 100%;
  position: absolute;
  right: -20px;
  z-index: 999;
  top: 50px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

/* line 7, ../sass/navigation.scss */
.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  padding: 0 0 20px 0;
}

/* line 8, ../sass/navigation.scss */
.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
  text-align: right;
  padding: 6px 0;
}

/* .mean-container .mean-nav ul li:hover > a, */
/* line 11, ../sass/navigation.scss */
.mean-container .mean-nav ul li a {
  text-align: left;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin: 0 80px 0 10px;
  float: right;
  font-size: 16px;
}

/* line 12, ../sass/navigation.scss */
.mean-container .mean-nav ul li li a {
  visibility: visible;
}

/* line 13, ../sass/navigation.scss */
.mean-container .mean-nav ul li.active {
  background: #f2f2f2;
}

/* line 14, ../sass/navigation.scss */
.mean-container .mean-nav ul li.current-menu-item > a:first-of-type,
.mean-container .mean-nav ul li.current-menu-ancestor > a:first-of-type {
  color: #146ab3;
  font-weight: bold;
}

/* line 17, ../sass/navigation.scss */
.mean-container .mean-nav ul .sub-menu {
  background: #f2f2f2;
  float: left;
  width: 100%;
  padding: 0;
  margin: 6px 0 -6px 0;
}

/* line 18, ../sass/navigation.scss */
.mean-container .mean-nav ul .sub-menu li.current-menu-item {
  background: #146ab3;
}

/* line 19, ../sass/navigation.scss */
.mean-container .mean-nav ul .sub-menu li.current-menu-item a {
  color: #fff;
}

/* line 20, ../sass/navigation.scss */
.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}

/* line 21, ../sass/navigation.scss */
.mean-container .mean-nav ul li li li a {
  width: 80%;
  padding: 0 10%;
  line-height: 35px;
}

/* line 22, ../sass/navigation.scss */
.mean-container .mean-nav ul li a.mean-expand {
  color: #333 !important;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 1px;
  width: 36px;
  z-index: 2;
  font-weight: 500;
  height: 37px;
  line-height: 38px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 37, ../sass/navigation.scss */
.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}

/* line 38, ../sass/navigation.scss */
.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 39, ../sass/navigation.scss */
.mobile-nav-w ul#menu-main-menu > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  /* line 43, ../sass/navigation.scss */
  .mean-container .mean-nav ul li a.mean-expand {
    right: 5px;
  }
}
