/**

 * Add any custom CSS here.

 *

 * This file will be loaded after all other theme stylesheets.

 */
 /*responsive grid for products*/
 
 .related_products{
 	width: 27.4117647059%;
    display: inline-block;
    margin-right: 6.3%;
    font-size: .875em;
    list-style: none;
    margin-left: 0;
    margin-bottom: 3.235801032em;
    text-align: center;
    position: relative;
    vertical-align: top;
 }
 .related_products:nth-child(3n){
	margin-right:0;
 }
 ul.products li.related_products .woocommerce-LoopProduct-link{
 	display: block;
 	min-height: auto;
 }
 ul.products li.related_products img{
 	display: block;
    margin-bottom: 2em;
    max-height: 225px;
    min-height: 225px;
 }
 ul.products li.related_products img:hover{
 	border: 3px solid #009239;
 	box-sizing: border-box;
 }
 ul.products li.related_products h2{
 	    font-size: 1.1em;
 }
 ul.products li.related_products .price{
 	color: #3e3e3e;
 	display: block;
    font-weight: 400;
    margin: 0 auto 1em;
 }
 ul.products li.related_products .button{
 	margin-bottom: .236em;
 }
 @media screen and (max-width: 1120px){
 	ul.products li.related_products img{
 		min-height: unset;
 	}
 }
@media screen and (max-width: 768px){
	.related_products{
	    margin-bottom: 4.235801032em;
	    display: list-item;
	    width: 100%;
	}
	ul.products li.related_products img{
	    height: auto;
	    margin: 0 auto 1.618em;
	    max-height: unset;
	}
	ul.products li.related_products h2{
		font-size: 1.1rem;
	}
	ul.products li.related_products .price{
		font-size: 1rem;
	}
	ul.products li.product .button{
	    padding: .6180469716rem 1.41575rem;
	    font-size: 1rem;
	}
}