/*
Theme Name: Multiheat
Author: Multiheat
Text Domain: Multiheat

*/

.top-nav .nav_w ul li .sub-menu {
  top: 62px;
}

.single_news .nav-prod.prev {
  background: rgba(0, 0, 0, 0) url("html/images/single-prev.jpg") no-repeat scroll left center;
  padding-left: 27px;
}

.single_news .nav-prod.next {
  background: rgba(0, 0, 0, 0) url("html/images/single-next.jpg") no-repeat scroll right center;
  padding-right: 27px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

#map_wrapper {
height: 700px;
}

p#loc_error{
	display: none;
	color: red;
}
div#.location_info{
	display: none;
}

img.attachment-team_about.size-team_about.wp-post-image {
	border-radius: 50%;
}